.toastui-editor-toolbar {
    display: none !important;
}

.toastui-editor-defaultUI {
    border: none !important;
    min-height: 300px;
    height: 100%;
}

.toastui-editor-md-container {
    height: inherit !important;
    position: relative !important;
}

.toastui-editor-contents {
    // line-height: inherit !important;
    font-family: 'Inter', sans-serif !important;
    font-size: 16px !important;

    h1 {
        border-bottom: 1px solid #d1d5db !important;
    }
}

.ProseEditor,
.ProseMirror {
    font-family: 'Inter', sans-serif !important;
    font-size: 16px !important;
    overflow: auto;
    box-sizing: border-box;
    height: inherit !important;
}
